<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <title>{{ .Site.Title }}</title>
    {{ partialCached "head.html" . }}
  </head>

  <body>
    <div class="flexWrapper">
      {{ partialCached "header.html" . }}
      <div class="content vertical">
        <main class="main">
          <div class="indexWrapper">
            <div>
              <h1 class="indexHeader">{{ .Site.Params.displayTitle }}</h1>
            </div>
            {{ if isset .Site.Params "social" }} {{ partialCached "social.html"
            . }} {{ end }}
          </div>
        </main>
      </div>
      {{ partialCached "footer.html" . }}
    </div>
  </body>
</html>
