@import "./utils/variables";

body {
  font-family: $fontParagraph;
  color: $white;
  background-color: $backgroundDark;
  margin: 0;
  //display: flex; -> Removed as it was causing mobile scaling issues for single.html
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: $blue;
}

pre code {
  font-family: $fontCode;
  display: block;
  background: $backgroundDarker;
  padding: 18px;
  overflow: auto;
  border-radius: 15px;
  border: 1px solid $darkGrey;
  color: $white;
}

code {
  font-family: $fontCode;
  font-size: 95%;
  color: $code;
  padding: 2px 3px;
  background: $black;
  border-radius: 5px;
  line-height: 150%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $fontHeader;
  }
}

@-ms-viewport {
  width: device-width;
}
