@import "../utils/variables";

.footer {
  padding: 12px;
  text-align: center;
  background-color: $backgroundDarker;
}

.footerLink {
  font-family: $fontCode;
  color: $white;
  padding: 10px;
}

.footerLink:before {
  content: "[ ";
  color: $tableHeader;
}

.footerLink:after {
  content: " ]";
  color: $tableHeader;
}