$darkGrey: #323232;
$white: #f8f8ff;
$black: #1a1919;
$blue: #6995ec;

$code: #8eb5e0;
$tableHeader: #8c8c8c;

$backgroundDarker: #181919;
$backgroundDark: #222425;

$fontHeader: "Fira Mono", monospace;
$fontParagraph: "Open Sans", sans-serif;
$fontCode: "Fira Mono", monospace;

$breakLarge: 992px;
$width: 760px;
